<!DOCTYPE html>
<html>
  <head>
    <title>Contact Page</title>
    <script
  src="https://code.jquery.com/jquery-1.12.4.js"
  integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
  crossorigin="anonymous"></script>
  <script src="/assets/todo-list.js"></script>
  <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1>Contact Page</h1>
    <h2>Welcome to Rest Communicator online facility</h2>
  </br></br>
  <div id="todo-table">
  <pre>
<b>
  Call : (07) 5501 4000
  Email : rent@rent.com
</b>

  </body>
</html>
