<html>
  <head>
    <title>Owner tenant Portal</title>
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="/assets/todo-list.js"></script>

  <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1>Owner-Tenant Portal</h1>
    <h2>Welcome to Rest Communicator online facility</h2>
<h2>Tenant Sign up Form</h2>
<div id="mainDiv" align="center">
  <h1>Sign Up Form</h1>
  <form  method="post" id="tenant" >
  <b>Name:<b/><br/>
  <input type="text" name="name" placeholder="Enter Name" required ><br/>
  <b>Mobile No.:</b><br/>
  <input type="number" name="mobileno" placeholder="Enter Mobile no." required ><br/>
  <b>Username:</b><br/>
  <input type="text" name="username" placeholder="Enter Username" required ><br/>
  <b>Password:</b><br/>
  <input type="password" name="password" placeholder="Enter Password" required ><br/>
  <b>E-mail:</b><br/>
  <input type="email" name="email" placeholder="Enter e-mail" required  ><br/><br/>
  <button type ="submit">Submit</button>
  <!--<input type="submit" id="submitDetails"  name="submitDetails" value="Submit Your Details" /><br>-->
  </form>

</div>
</body>
</html>
