<html>
  <head>
    <title>Owner tenant Portal</title>
    <script
  src="https://code.jquery.com/jquery-1.12.4.js"
  integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
  crossorigin="anonymous"></script>
  <script src="/assets/todo-list.js"></script>
  <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1>Owner-Tenant Portal</h1>
    <h2>Welcome to Rest Communicator online facility</h2>
<h2>Landlord Sign up Form</h2>
<div align="center">
  <h1>Sign Up Form</h1>
  <form method="post">
  <b>Name:<b/><br/>
  <input type="text" name="name" placeholder="Enter Name"><br/>
  <b>Mobile No.:</b><br/>
  <input type="number" name="mobileno" placeholder="Enter Mobile no." ><br/>
  <b>Username:</b><br/>
  <input type="text" name="username" placeholder="Enter Username" ><br/>
  <b>Password:</b><br/>
  <input type="password" name="password" placeholder="Enter Password" ><br/>
  <b>E-mail:</b><br/>
  <input type="email" name="email" placeholder="Enter e-mail" ><br/><br/>
<button class="w3-btn w3-blue" id="SignupFormOwn">Signup</button></p>
  <!-- <input type="submit" value="Sign Up"><br/> -->
  </form>

</div>
</body>
