<!DOCTYPE html>
<html>
  <head>
    <title>Owner tenant Portal</title>
    <script
  src="https://code.jquery.com/jquery-1.12.4.js"
  integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
  crossorigin="anonymous"></script>
  <script src="/assets/todo-list.js"></script>
  <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1>Owner-Tenant Portal</h1>
    <h2>Welcome to Rest Communicator online facility</h2>
  </br></br>
  <div id="todo-table">
  <pre>
  <b>Landlords can:</b>
  – View a list of their properties
  – View current owner statements
  – View historic owner statements
  – View current and previous income and expenditure reports
  – View contact details of their property manager and contact them
  – Retrieve their username and password


  <b>Tenants can:</b>
  – View recent tenant ledger
  – View past tenant ledger
  – View contact details and/or contact their property manager
</pre>
<div align="center">
  <!-- <div id="regDiv">
<button type ="submit" id="login-land">Landlord Login</button></div> -->
<a href=".\login-landlord" class="button" >LANDLORD LOGIN</a>
<t></t>
<a href=".\login-tenant" class="button" >TENANT LOGIN</a></div>

  </body>
</html>
